.sections {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100vw;
    overflow: hidden;

    @include mediaQuerySizes(medium) {
        grid-auto-columns: 50vw;
    }

    @include mediaQuerySizes(large) {
        grid-auto-columns: 33vw;
    }

    @include mediaQuerySizes(xlarge) {
        grid-auto-columns: 25vw;
    }

    &__element {
        position: relative;
        display: grid;
        width: 100%;
        height: calc(100vh - 40px);
        grid-template-columns: 40px 1fr;
        grid-template-rows: 100px repeat(auto-fit, minmax(50px, 1fr));


        &:nth-of-type(1) {
            grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
        }

        @include mediaQuerySizes(medium) {
            height: 100vh;
            padding-bottom: 40px;

            &--active {
                background-color: $gray3;
            }
        }
    }

    &__title {
        position: absolute;
        grid-column: 1;
        grid-row: 1/-1;
        width: 30px;
        top: 50%;
        left: 3px;
        transform: translateY(-50%);
        padding: 0px 20px;
        font-size: 1em;
        text-transform: uppercase;
        text-align: center;
        word-break: break-all;
        line-height: 1.15em;
        font-weight: 100;
    }

    &__title-single-word {
        display: block;
        padding: 20px 0px;
    }

    &__logo-wrapper {
        position: relative;
        grid-column: 1;
        grid-row: 1;
    }

    &__logo {
        position: absolute;
        max-width: 80%;
        margin: 10px;
    }

    &__image-wrapper {
        position: relative;
        grid-column: 2;
        grid-row: span 1/span 1;
    }

    &__image {

        position: absolute;
        max-width: 90%;
        max-height: 45vh;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0px;

        @at-root .sections__element:nth-of-type(1) {
            .sections__image {
                max-height: 28vh;
                padding: 15px;
            }
        }
    }

    &__paragraph {
        grid-column: 2;
        padding: 10px 20px 30px 30px;
        text-align: center;
        align-self: end;
    }

    &__element:nth-last-of-type(1) {
        grid-template-columns: 1fr;

        .sections__paragraph {
            grid-column: 1;
        }

        .sections__image-wrapper {
            grid-column: 1;
        }
    }

}